.menu__logo {
    float: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}

.menu__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 19px 20px;
    width: 100%;
    color: green;
}