/* .logo {
    float: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
} */

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
}