.sider {
    top:160px;
    left:800px;
    margin: 20px;
    padding: 20px 20px;
}
label {
    color: rgba(254, 202, 10, 124);
}
.login{
    padding: 20px;
    background-color: rgba(32, 57, 94, 59);
}

.mid {
    height: 30px;
}

.notice {
    padding: 20px;
    background-color: rgba(169, 201, 200, 174);
    height: 40vh;
}