.menu {
    display: flex;
}

.menu__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    height: 80px;
    background-color: rgba(113, 121, 168, 132);
}
.item {
    display: inline-block;
    text-align: center;
    padding: 5px 0px;
}

.button {
    color: white;
    font-size: 18px;
}